*{
    margin: 0px;
    padding: 0px;
}
.dv1{
    width: 100%;
    height: 88px;
    padding-bottom: 0px;
    border: solid 1px black;
    background-color: white;
}
#dv2{
    width:227px ;
    height: 777px;
    float: left;
    padding-top: 17px;
    padding-bottom: 10px;
    border: solid 1px black;
    background-color: lightblue;
}
#dv2 div{
    width: 225px;
    height: 50px;
    font-size: 30px;
    padding-top:16px;
    text-align: center;
    float: left;
    background-color: orangered;
    border: solid 1px black;
    margin: 20px 10px 20px 0px;

}
#dv3{
    width: 1118px;
    height: 805px;
    float: right;
    margin: 0px;
    border: solid 1px black;
}
#dv3>div{
    width: 370px;
    height: 400px;
    float: left;
    border: solid 1px black;
}
.dh{
    width: 369px;
    height: 50px;
    border: solid 1px black;
    margin:0px;
    float: left;
}
.ul1 li{
     float: left;
     list-style-type: none;
     margin: 8px 3px 5px 20px;
 }
.ul2 li{
    float: right;
    list-style-type: none;

    margin: 8px 3px 5px 20px;
}

.font{
    font-size: 25px;
    font-family: 楷体;
    color: rgb(75,120,180);
}
