<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="user" class="com.yy.study.domain.User">
        <constructor-arg name="name" value="拿破仑"/>
    </bean>

    <bean id="userDao" class="com.yy.study.dao.UserDao">
        <property name="user" ref="user"/>
    </bean>

    <bean id="userService" class="com.yy.study.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="userAction"
          class="com.yy.study.web.controller.UserAction"
          scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>


</beans>